.catalog-intro {
  background-color: $color-photo-overlay-opacity-07;
  box-shadow: inset 100vw 100vh $color-photo-overlay-opacity-07;
  background-image: url("../img/catalog-intro/catalog-intro_desktop.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/catalog-intro/catalog-intro_desktop@2x.jpg");
  }

  @media ($tablet-max-width) {
    background-image: url("../img/catalog-intro/catalog-intro_tablet.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/catalog-intro/catalog-intro_tablet@2x.jpg");
    }
  }

  @media ($mobile-max-width) {
    background-image: url("../img/catalog-intro/catalog-intro_mobile.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/catalog-intro/catalog-intro_mobile@2x.jpg");
    }
  }
}

.catalog-intro__wrapper {
  padding: 82px 8%;

  @media ($tablet-max-width) {
    padding: 81px 10% 85px;
  }

  @media ($mobile-max-width) {
    padding: 69px 8% 74px;
  }
}

.catalog-intro__wrapper h2 {
  font-family: "Cormorant Garamond", "Cambria", serif;
  font-weight: 700;
  font-size: 34px;
  line-height: 44px;
  text-transform: uppercase;
  text-align: center;
  color: $color-basic-white;
  margin: 10px auto;
  margin-bottom: -7px;
}

.catalog-intro__wrapper p {
  font-family: "Cormorant Garamond", "Cambria", serif;
  font-weight: 400;
  font-style: italic;
  font-size: 22px;
  line-height: 29px;
  text-align: center;
  color: $color-basic-white;
  margin: 10px auto;

  @media ($mobile-max-width) {
    line-height: 26px;
  }
}
