.catalog-page__wrapper {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 50px;
  margin-top: 81px;

  @media ($tablet-max-width) {
    grid-template-columns: 1fr;
    margin-top: 50px;
  }

  @media ($mobile-max-width) {
    gap: 40px;
    margin-top: 40px;
  }
}
