.main-nav__wrapper {
  position: relative;

  @media ($tablet-max-width) {
    padding: 30px 0;
  }

  @media ($mobile-max-width) {
    padding: 20px 0;
  }
}

.main-nav__header-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 19px auto 29px;
  padding: 0 calc(50% - 585px);

  @media ($desktop-1250-width) {
    padding: 0 45px;
  }

  @media ($tablet-max-width) {
    margin: 0 auto;
    padding: 0 45px;
  }

  @media ($mobile-max-width) {
    padding: 0 15px;
  }
}

.main-nav__logo {
  position: relative;
  display: block;
  text-decoration: none;
  top: 12px;
  align-self: flex-start;
  margin: 0 auto;

  &--new-page {
    &:hover,
    &:focus {
      filter: brightness(0);
    }

    &:active {
      opacity: 0.6;
    }
  }

  @media ($tablet-max-width) {
    top: 0;
    left: 14px;
    margin: 0 auto;
    margin-left: 43%;
  }


  @media ($mobile-max-width) {
    margin: 0 auto;
  }
}

.main-nav__logo img {
  display: block;
  width: 66px;
  height: 66px;

  @media ($mobile-max-width) {
    width: 52px;
    height: 52px;
  }
}

.main-nav__toggle {
  display: none;

  @media ($tablet-max-width) {
    position: absolute;
    top: 35px;
    left: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: content-box;
    width: 30px;
    height: 30px;
    padding: 15px 10px;
    background-color: transparent;
    border: 0;
    user-select: none;
  }

  @media ($mobile-max-width) {
    left: 2px;
    top: 16px;
  }
}

.main-nav__toggle span {
  position: relative;
  display: inline-block;
  vertical-align: baseline;
  width: 25px;
  height: 2px;
  vertical-align: bottom;
  background: $color-text-dark;
  transition: background-color 0.3s 0.3s;

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: $color-text-dark;
    transform-origin: 50% 50%;
    transition: top 0.3s 0.3s, transform 0.3s;
  }

  &::before {
    top: 8px;
  }

  &::after {
    top: -8px;
  }
}

.main-nav__search {
  position: relative;
  order: -1;
  width: 34%;

  @media ($tablet-max-width) {
    order: 2;
    width: 100%;
    max-width: none;
    margin-top: 40px;
  }

  @media ($mobile-max-width) {
    margin-top: 30px;
  }
}

.main-nav__search form {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.main-nav__search svg {
  width: 14px;
  height: 14px;
  fill: $color-basic-black;

  @media ($tablet-max-width) {
    position: absolute;
    width: 16px;
    height: 16px;
    left: 12px;
    fill: $color-basic-white;
  }
}

.main-nav__search input[type="search"] {
  @include font($main-font, 500);
  display: block;
  position: relative;
  font-size: 14px;
  line-height: 21px;
  width: 236px;
  border: none;
  border-radius: 21px;
  cursor: pointer;
  color: $color-text-dark;
  background-color: transparent;
  margin: 0;
  margin-left: 5px;
  padding: 10px;

  @media ($tablet-max-width) {
    font-size: 16px;
    width: 100%;
    background-color: $color-white-opacity-015;
    margin-left: 0;
    padding-left: 40px;

    &:hover,
    &:focus {
      outline: 1px solid $color-basic-white;
    }
  }

  &:hover,
  &:focus {
    outline: 1px solid $color-text-dark;
  }
}

.main-nav__search input[type="search"]::placeholder {
  color: $color-text-light;

  @media ($tablet-max-width) {
    color: transparent;
  }
}

.main-nav__user-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  list-style: none;
  width: 35%;
  padding: 0;
  margin: 0;
  margin-right: -10px;

  @media ($tablet-max-width) {
    max-width: none;
  }

  @media ($mobile-max-width) {
    width: 13%;
  }
}

.main-nav__user-item a {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  text-decoration: none;
  color: $color-text-dark;
  margin: 0;
  margin-left: 16px;
  padding: 5px 10px;
  z-index: 2;

  &:hover,
  &:focus {
    outline: none;
  }

  &:hover span,
  &:focus span,
  &:hover b,
  &:focus b {
    color: $color-decoration;

    &::after {
      background-color: $color-decoration;
      transform: scaleX(1);
      transform-origin: center;
    }
  }

  &:active {
    opacity: 0.7;
  }

  &:hover svg,
  &:focus svg {
    transform: scale(1.2);
    transition: all 0.3s ease-out;
  }

  &:active svg {
    transform: scale(1.1);
    transition: all 0.3s ease-out;
  }

  @media ($tablet-max-width) {
    &::after {
      display: none;
    }
  }
}

.main-nav__user-item svg {
  position: relative;
  top: 50%;
}

.main-nav__user-item span {
  @include font($main-font, 500);
  font-size: 14px;
  line-height: 21px;
  color: $color-text-dark;

  &::after {
    position: absolute;
    content: "";
    background-color: transparent;
    width: 100%;
    height: 1px;
    left: 0;
    bottom: 0;
    transform: scaleX(0);
    transform-origin: center;
    transition: 0.5s;
  }

  @media ($tablet-max-width) {
    color: $color-basic-white;
  }
}

.main-nav__user-item b {
  @include font($main-font, 500);
  font-size: 14px;
  line-height: 21px;
  color: $color-text-dark;
  margin-left: 5px;
}

.main-nav__user-item--login {
  @media ($tablet-max-width) {
    display: none;
  }
}

.main-nav__user-item--cart svg {
  display: none;

  @media ($tablet-max-width) {
    display: block;
    width: 20px;
    height: 18px;
    stroke: $color-text-dark;
    fill: none;
  }
}

.main-nav__user-item--cart span {
  @media ($tablet-max-width) {
    display: none;
  }
}

.main-nav__user-item--cart b {
  @media ($tablet-max-width) {
    display: none;
  }
}

.main-nav__site-nav {
  position: relative;

  &::before {
    position: absolute;
    content: "";
    background-color: $color-decoration-line;
    width: 100%;
    height: 1px;
    left: 0;
    right: 0;
    top: 0;
  }

  @media ($tablet-max-width) {
    padding-bottom: 40px;

    &::before {
      display: none;
    }
  }

  @media ($mobile-max-width) {
    padding-bottom: 20px;
  }
}

.main-nav__site-nav-wrapper {
  margin: 0 auto;
  padding: 0 calc(50% - 585px);

  @media ($desktop-1250-width) {

    padding: 0 45px;
  }

  @media ($tablet-max-width) {
    margin-top: 40px;
    padding: 0 45px;
  }

  @media ($mobile-max-width) {
    margin-top: 30px;
    padding: 0 15px;
  }
}

.main-nav__site-nav-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  padding: 15px 0;
  padding-left: 11px;
  padding-bottom: 13px;
  margin: 0;

  @media ($tablet-max-width) {
    padding: 0;
    margin: 10px 0 20px;
    display: block;
  }
}

.main-nav__site-nav-list li + li {
  @media ($tablet-max-width) {
    margin-top: 11px;
  }
}

.main-nav__site-nav-item {
  margin: 0 8px;

  @media ($tablet-max-width) {
    margin: 0;
  }
}

.main-nav__site-nav-item a {
  display: block;
  text-decoration: none;
  color: $color-text-dark;
  padding: 5px 10px;

  &:hover,
  &:focus {
    outline: none;
  }

  &:hover span,
  &:focus span {
    color: $color-decoration;

    &::after {
      background-color: $color-decoration;
      transform: scaleX(1);
      transform-origin: center;
    }
  }

  &:active {
    opacity: 0.7;
  }

  @media ($tablet-max-width) {
    display: inline-block;
    vertical-align: baseline;
    color: $color-basic-white;
    padding-left: 0;

    &:hover span,
    &:focus span {
      color: $color-basic-white;
      opacity: 0.7;
    }

    &:active {
      opacity: 0.5;
    }
  }
}

.main-nav__site-nav-item span {
  @include font($main-font, 500);
  position: relative;
  display: block;
  font-size: 16px;
  line-height: 24px;
  color: $color-text-dark;

  &::after {
    position: absolute;
    content: "";
    background-color: transparent;
    width: 100%;
    height: 1px;
    left: 0;
    bottom: 0;
    transform: scaleX(0);
    transform-origin: center;
    transition: 0.5s;
  }

  @media ($tablet-max-width) {
    font-size: 24px;
    line-height: 36px;
    color: $color-basic-white;

    &::after {
      display: none;
    }
  }
}

.main-nav__about-us-list {
  display: none;

  @media ($tablet-max-width) {
    display: block;
    list-style: none;
    padding: 0;
    margin: 30px 0 35px;
  }

  @media ($mobile-max-width) {
    margin: 20px 0 25px;
  }
}

.main-nav__about-us-list li + li {
  margin-top: 10px;
}

.main-nav__about-us-item a {
  @media ($tablet-max-width) {
    @include font($main-font, 500);
    display: inline-block;
    vertical-align: baseline;
    font-size: 18px;
    line-height: 23px;
    text-decoration: none;
    color: $color-white-opacity-075;
    padding: 5px 10px;
    padding-left: 0;

    &:hover,
    &:focus {
      outline: none;
      opacity: 0.7;
    }

    &:active {
      opacity: 0.5;
    }
  }
}

.main-nav__login a {
  display: none;

  @media ($tablet-max-width) {
    display: inline-block;
    vertical-align: baseline;
    text-decoration: none;
    color: $color-basic-white;
    margin: 0;
    padding: 5px 10px;
    padding-left: 0;

    &:hover,
    &:focus {
      outline: none;
    }

    &:hover span,
    &:focus span {

      opacity: 0.7;
    }

    &:active {
      opacity: 0.5;
    }
  }
}

.main-nav__login span {
  @media ($tablet-max-width) {
    @include font($main-font, 500);
    display: block;
    font-size: 18px;
    line-height: 23px;
    color: $color-basic-white;
  }
}

@media ($tablet-max-width) {
  .main-nav__mode--closed .main-nav__search,
  .main-nav__mode--closed .main-nav__user-item--login,
  .main-nav__mode--closed .main-nav__site-nav {
    display: none;
  }

  .nojs .main-nav__site-nav {
    display: block;
  }

  .nojs .main-nav__toggle {
    display: none;
  }

  .nojs .main-nav__wrapper {
    background-color: $color-decoration;
  }

  .main-nav__mode--opened .main-nav__wrapper {
    position: relative;
    height: 100vh;
    overflow: auto;
    background-color: $color-decoration;
  }

  .nojs .main-nav__logo,
  .main-nav__mode--opened .main-nav__logo {
    filter: brightness(0) invert(1);
  }

  .nojs .main-nav__toggle span,
  .main-nav__mode--opened .main-nav__toggle span {
    background-color: $color-basic-white;

    &::before,
    &::after {
      top: 0;
      background-color: $color-basic-white;
      transition: top 0.3s, transform 0.3s 0.5s;
    }

    &::before {
      transform: translateY(-8px);
    }

    &::after {
      transform: translateY(8px);
    }
  }

  .nojs .main-nav__user-item--cart svg,
  .main-nav__mode--opened .main-nav__user-item--cart svg {
    stroke: $color-basic-white;
  }
}
