.page-footer {
  margin-top: auto;
  background-color: $color-basic-black;
}

.page-footer__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 82px;
  padding-bottom: 80px;

  @media ($tablet-max-width) {
    padding-top: 39px;
    padding-bottom: 39px;
  }

  @media ($mobile-max-width) {
    padding-bottom: 45px;
  }
}

.page-footer__subscription {
  width: 43%;

  @media ($tablet-max-width) {
    width: 83%;
    margin-right: auto;
  }

  @media ($mobile-max-width) {
    width: 100%;
  }
}

.page-footer__subscription h3 {
  font-family: "Cormorant Garamond", "Cambria", serif;
  font-weight: 700;
  font-size: 34px;
  line-height: 44px;
  letter-spacing: 0.8px;
  color: $color-basic-white;
  margin: 10px 0 8px;

  @media ($tablet-max-width) {
    margin: 10px 0;
  }

  @media ($mobile-max-width) {
    margin-right: 18%;
  }
}

.page-footer__subscription p {
  font-family: "Poppins", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: $color-text-light;
  margin: 8px 0 10px;

  @media ($mobile-max-width) {
    line-height: 22px;
    margin-right: 16%;
    margin-top: 12px;
  }
}

.page-footer__subscription form {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin-top: 31px;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: $color-basic-white;
  }

  @media ($tablet-max-width) {
    margin-top: 33px;
  }

  @media ($mobile-max-width) {
    margin-top: 32px;
  }
}

.page-footer__subscription input[type="email"] {
  @include font($main-font, 500);
  position: relative;
  display: block;
  font-size: 14px;
  line-height: 21px;
  border: none;
  border-radius: 0;
  outline: none;
  cursor: pointer;
  width: 70%;
  color: $color-basic-white;
  background-color: transparent;
  padding: 10px 21px;
  padding-left: 0;

  &:hover,
  &:focus {
    outline: 1px solid $color-decoration-line;
  }

  @media ($mobile-max-width) {
    width: 60%;
  }
}

.page-footer__subscription input::placeholder {
  color: $color-text-light;
}

.page-footer__subscription button[type="submit"] {
  @include font($main-font, 500);
  display: block;
  position: relative;
  right: 0;
  font-size: 16px;
  line-height: 21px;
  border: none;
  border-radius: 0;
  cursor: pointer;
  color: $color-basic-white;
  background-color: transparent;
  margin-right: 0;
  margin-left: auto;
  padding-right: 44px;

  &::after {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 29px;
    height: 9px;
    background-image: url("../img/sprite/icon-sign-up-arrow.svg");
  }

  &:hover,
  &:focus {
    outline: none;
    color: $color-decoration;
  }

  &:active {
    opacity: 0.7;
  }
}

.page-footer__footer-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  min-width: 32.5%;
  padding-right: 6px;

  @media ($tablet-max-width) {
    min-width: 56%;
    justify-content: flex-start;
    margin-right: -87px;
  }

  @media ($mobile-max-width) {
    flex-direction: column;
    margin-top: 21px;
    margin-right: 0;
  }
}

.page-footer__list {
  list-style: none;
  margin: 0;
  margin-top: 10px;
  padding: 0;

  @media ($tablet-max-width) {
    margin-top: 40px;
    margin-right: 87px;
  }

  @media ($mobile-max-width) {
    margin-top: 19px;
    margin-right: 0;
  }
}

.page-footer__list-item {
  margin-left: 5px;
  margin-bottom: 11px;

  @media ($tablet-max-width) {
    margin-left: 0;
  }
}

.page-footer__list-item a {
  display: inline-block;
  text-decoration: none;
  color: $color-basic-white;
  margin: 0;
  padding: 5px;


  @media ($tablet-max-width) {
    padding: 5px 0;
  }

  &:hover,
  &:focus {
    outline: none;
  }

  &:hover span,
  &:focus span {
    color: $color-decoration;
  }

  &:hover svg,
  &:focus svg {
    fill: $color-decoration;
  }

  &:active {
    opacity: 0.7;
  }
}

.page-footer__list-item span {
  @include font($main-font, 500);
  display: block;
  font-size: 16px;
  line-height: 21px;
  max-width: 200px;
  overflow-wrap: break-word;
  color: $color-basic-white;

  @media ($mobile-max-width) {
    max-width: none;
  }
}

.page-footer__socials-list {
  @media ($tablet-max-width) {
    margin-right: 15.5%;
  }

  @media ($mobile-max-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-end;
    width: 100%;
    margin-right: 0;
    margin-top: 30px;
  }
}

.page-footer__socials-item a {
  display: grid;
  grid-template-columns: 1fr 5fr;
  column-gap: 15px;
  text-decoration: none;
  align-items: center;
  color: $color-basic-white;
  margin: 0;
  padding: 5px 10px;
  padding-right: 0;

  @media ($mobile-max-width) {
    display: block;
    padding: 0;
    margin-right: 35px;
  }
}

.page-footer__socials-item svg {
  fill: $color-basic-white;
  margin: 0 auto;

  @media ($mobile-max-width) {
    width: 140%;
    height: auto;
  }
}

.page-footer__socials-item span {
  max-width: 100px;
  overflow-wrap: break-word;

  @media ($mobile-max-width) {
    display: none;
  }
}
