// Colors //

$color-basic-black: #000000;
$color-basic-white: #ffffff;
$color-text-dark: #1d1613;
$color-text-light: #9b9997;
$color-bg: #f0eae4;
$color-decoration: #a87b62;
$color-decoration-line: #f6f5f4;

// Opacity //
$color-white-opacity-015: rgba(255, 255, 255, 0.15);
$color-white-opacity-075: rgba(255, 255, 255, 0.75);
$color-photo-overlay-opacity-07: rgba(86, 64, 52, 0.7);

// Fonts

$main-font: "Poppins", "Arial", sans-serif;
//500

//"Poppins", "Arial", sans-serif 400
//"Poppins", "Arial", sans-serif 500
//"Poppins", "Arial Black", sans-serif 700
//"Cormorant Garamond", "Cambria", serif 400 italic
//"Cormorant Garamond", "Cambria", serif 500 italic
//"Cormorant Garamond", "Cambria", serif 600 normal
//"Cormorant Garamond", "Cambria", serif 700 normal

// Container //

$min-width: 320px;
$desktop-1250-width: "max-width: 1250px";
$tablet-max-width: "max-width: 1023px";
$mobile-max-width: "max-width: 767px";
